# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# IDE
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# OS / logs
.DS_Store
Thumbs.db
*.log
